.navbar {
    background-color: transparent !important;
    transition-duration: 1s;

}
nav.nav--hidden {
   transform: translateY(-100%);
  }
  .cambiocolor{
      background-color: transparent !important;
  }
  

  .hdr {
    padding:20px;
    background-color: red !important;
    transform: translateY(0px);
  }
  
  .hdrScroll {
    padding:20px;
   
    transform: translateY(-100%);
  }